@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Solitreo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

.container {
    display:grid;
    /* height: 100vh; */
    /* width: 100vw; */
    justify-content: center;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
}

body {
    background: maroon;
    margin: 0px;
    height: 100vh;
}

.body-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
    grid-column: 1;
    grid-row: 1;
    place-content: center;
}

.title {
    color:#fff;
    font-size: 40px;
    font-family: 'Carter One', cursive;
    font-family: 'Solitreo', cursive;
    text-align: center;
    margin-top: 15px;
    grid-column: 1;
    grid-row: 1;
}

.element-container {
    display: grid;
    place-content: center;
}


.content {
    display: grid;
    place-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.container-arrow {
    display: grid;
    justify-content: center;
    align-self: end;
}

.arrow {

}
.roulette {
    /* animation: rotate 5s infinite linear;*/
    /* transition: 5s  cubic-bezier(0, 0.55, 0.45, 1); */
    /* transition: 5s cubic-bezier(0.22, 1, 0.36, 1); */
    /* transition: 6s cubic-bezier(0.33, 1, 0.68, 1); */
    transition: 6s cubic-bezier(0.25, 1, 0.5, 1);
}


@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.message-alert {
  height: 150px;
  width: 250px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  display: grid;
  /* place-content: center; */
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

.alert-container {
    grid-column: 2;
    grid-row: 2;
}

.alert {
    color: dimgray;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

.container-delete {
    display: grid;
    justify-content: right;
    grid-column: 3;
    grid-row: 1;
}

.delete{
    width: 30px;
    height: 30px;
    margin: 5px 5px 0px 0px;

}

.container-transparent {
    background:#21044a33;
    width: 100vw;
    height: 100vh;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    place-content: center;
}
