@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Solitreo&display=swap');

.container {
    display:grid;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

body {
    background: maroon;
}
.title {
    color:#fff;
    font-size: 40px;
    font-family: 'Carter One', cursive;
    font-family: 'Solitreo', cursive;
    text-align: center;
    margin-top: 15px;
}

.roulette {
    /* animation: rotate 5s infinite linear;*/
    /* transition: 5s  cubic-bezier(0, 0.55, 0.45, 1); */
    transition: 5s cubic-bezier(0.22, 1, 0.36, 1);
    transition: 5s cubic-bezier(0.33, 1, 0.68, 1);
}


@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
